<% include('../partials/header') %>

<main id="deleteClassification">
<h1><%= title %></h1>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
    
    <form method="POST" action="/inv/delete-classification/<%= classification_id %>" id="classificationForm">
        <p>Any vehicles that are contained within the deleted classification will be left without a classification. You will need to edit each of them manually.</p>
        <label for="classification_id">Which classification would you like to delete?</label>
        <input type="hidden" name="classificationId" value="<%= classification_id %>">
        <%- classificationList %>
        <button type="submit" class="deleteClassification">Delete Classification</button>
    </form>
</main>
<% include('../partials/footer') %>